{% extends 'base.html.twig' %}

{% block title %}Wild-Cartoons !{% endblock %}

{% block body %}
<style>
body {background-image: url('https://wallpaperaccess.com/full/698110.jpg');}
body {width: 100%;}
</style>
<div class="welcome">
    <h1>Bienvenue sur {{ project_name }}!</h1>
</div>

{% endblock %}
