{% extends 'base.html.twig' %}

{% block title %}Nouveau cartoon{% endblock %}

{% block body %}
    <h1>Créer un nouveau cartoon</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">revenir à la liste</a>
{% endblock %}
